@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}
